body,
input,
select,
textarea,
button {
  font-family: $font-family-primary, Helvetica, sans-serif;
}

h1 {
  font-family: $font-family-primary;
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  @media screen and (max-width: 400px) {
    font-size: 25px;
  }
}
