/* Theme spacing variables */
$spacing: 20px;
$spacing-2x: $spacing * 2;

/* Theme typography variables */
// Font family
$font-family-primary: 'Open Sans';
// Font sizes
$font-size-h1: 35px;
$font-size-h6: 16px;
$font-size-p: 15px;
$font-size-s: 14px;
$font-size-label: 12px;
// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
