@import 'reset', 'colors', 'variables', 'typography', 'fontface';

body {
  overflow: hidden; /* Hide scrollbars */
}

.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 54px;
  margin: 0 auto;

  &.component-mainsection {
    padding-top: 45px;
  }

  @media (max-width: 600px) {
    padding-left: 15px !important;
    padding-right: 15px !important;

    &.component-mainsection {
      padding-top: 20px;
    }
  }
}

section {
  margin-top: $spacing;
}

button {
  border: 0;
  height: 40px;
  font-size: $font-size-h6 !important;
  padding: 0 32px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
  background-color: $color-primary;
  color: $color-white;

  &:disabled {
    cursor: default;
  }
}

.MuiSvgIcon-colorPrimary {
  color: $color-primary !important;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: $color-primary !important;
}

.header {
  text-align: center;
  color: $color-primary;
}
