.home__section {
  //margin-top: 100px;
  text-align: center;
  // min-height: 100vh;
  .container {
    // margin: 0;
    // position: absolute;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    img {
      border-radius: 50%;
      width: 80%;
    }
  }
}
